<p>Currently logged in as: {{ username }}</p>

<ul>
  {{#each messages as |message|}}
    <li>{{ message.text }} from {{ message.username }} at {{ message.time }}</li>
  {{/each}}
</ul>

{{input value=newMessage placeholder="OMG"}}
<button {{action "newMessage"}}>Send</button>
